/*BOOKI */

@font-face {
    font-family: 'Raleway', sans-serif; 
}

body {
    color:#0065FC;
    font-family: Raleway;
	width: 100%;
    margin : 0;
}

*
{box-sizing: border-box;
}



main {
	
	display:flex; 
    flex-direction: column; 
    width:100%; 
    margin: 30px; 
	  }
	
	/*HEADER*/ 

header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    box-sizing:border-box; 
    

}

.principal 
{display:flex; 
flex-wrap:wrap; 
flex-direction:column;
 }


.location
{display:flex; 
    flex-wrap: wrap;
justify-content: space-between; }

 h2
 {font-size:20px; 
}

h6
{margin-left: 7%;
color:black;  }


.logo {
	object-fit: contain;
	float:left;
    margin-left:7%; 
}

.logo img {
    height: 100px;
    width:100px;
  
}


a {
    text-decoration: none;
    color:#0065FC;
    font-weight:bold;
	
}

a:visited {
    color:#0065FC;
	
}

nav a:hover {
    color:#0065FC;
    opacity:0.5; 
   border-top: solid 2px #0065FC;
 }



/* BODY  */

p {
	color:black;
	margin: 3px;  

}


nav {
	display:flex; 
	flex-direction: row;
    

}

nav a 
{ padding: 20px; 
    display : flex; 
    justify-content : center; 
    align-items : center;
    border-top: 2px solid white; 

}



nav, .logo {
    float:none;
}


.search {
    display: flex;
    flex-direction: row;
   
  }

  
 input[type=text]  {
	height:50px;
	width: 150px;
    padding: 6px;
    font-size: 13px;
      
  }
  
 strong	{
	 margin: 5px; 
	color:black;
	}
 
 
 .search button {
   
    border-radius: 0px 20px 20px 0px;
    width: 150px;
    padding: 10px;
    height: 50px;
    background: #0065FC;
    font-size: 18px;
    color: white;
     cursor: pointer;
     border:none; 
    
  
  }

 #research 
  {  
    border-radius: 0px 20px 20px 0px;
    width: 150px;
    padding: 10px;
    height: 50px;
 
    font-size: 18px;
    color: white;
     cursor: pointer;}
  

  
  .search a:hover {
    background-color: #ddd;
    color: black;
  }

  .search a.active {
    background-color: #2196F3;
    color: white;
  }
  
.recherche
  {position:absolute;
;  }

  form 
{position:relative; }
  
h3{   
	color:black;
    font-weight:1000;
    font-size: 23px;
	margin-left:7%; 
}

  #placement {
	border-radius: 10px 0px 0px 10px;
	float: none;
	width: 50px;
	height: 50px;
	margin: 0px;
	font-size: 17px;
	color: black;
	border: none;
	cursor: pointer;
	background-color: #F2F2F2;
  }
  
  /* RECHERCHE */ 

  #remplissage
  {display:flex;
    flex-direction:row;
   align-items:baseline;

 }
  
  .organisation
  {display:flex; 
    flex-wrap: wrap; 
 font-size: 11px; 

 }

 .filtres
 {font-size:15px;
margin: 20px; 
font-weight:bold ;
  
}
  
  .filter
{
    border:none; 
   margin:10px;
   padding:9px; 
   font-size:15px; 
   background-color: white;
   font-weight: bold;
  
}

.fa-money-bill-wave:before, .fa-child:before, .fa-heart:before, .fa-dog:before
{
    border-radius:100px;
    color:#0065FC;
   background-color:#DEEBFF;
    font-size: 0.9rem;
    padding: 18px;   
    margin:0px 0px 0px 0px; 

     
}

.fa-chart-line{
	color:black; 
	align-items:flex-end;
	float:right;
	margin-top: -40px; 
	}



.fa-info:before {
	border-radius:100px;
    color:#0065FC;
    background-color:white;
    border:thin 1px; 
    border-color: grey; 
    font-size: small;
    padding: 5px;   

    }

    .recherche i
    {display:none;
    color:white; 
     }
    

.fa-star {
	color:#0065FC;
    font-size: 10px; 
   
	}

#grey{
	color:#ddd; 
	}
  
  .info:before, span.icone 
{   
    border-radius:100px;
    border-left:transparent; 
    border:2px #F2F2F2 solid;
    background-color:white;
    display:flex;
    flex-direction: column;
	color:black; 
    
}

#info {   
	display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
	color:black; 
	}

.bouton  {   
    background:white;
    color:black;
    display:flex;
   flex-direction: row;
    margin:20px;
    padding: 0px;
    text-align:center;
 
}




/* CONTENER */

h4 {
	margin:10px;
	color:black;  
	text-align:left; 
	}

.imgs {
    width: 100%; 
    height: 70%; 
   top:0px; 
    border-radius: 20px 20px 0px 0px; 
    box-sizing:border-box; 
	position:absolute; 
	background-color:white;       
}


.hôtel {   
    background-color:white; 
    border-radius: 20px 0px 0px 20px ; 
    width:50%; 
	height:100%; 
	left:0; 
    border-width: 5px;
	position:absolute; 
	 
}

  

.hebergements {
    position:relative;  
	border-radius: 20px; 
    display: flex;
    margin:0px; 
	width:33%; 
    margin-bottom: 10px; 
    height: 170px; 
	border:solid white 4px; 
	box-shadow:3px 3px 7px grey; 
	transition-duration:0.7s; 	
    background-color:#F2F2F2;
    

}

.hebergements:hover {
	transform:scale(1)
	}

#hotels{
    background-color:#F2F2F2;
    border-radius:20px ;
    padding: 15px; 
    justify-content:center; 
    width:65%; 
margin-left:50px; 


 
}

.populaires, figure[.populaires] {
    position:relative;
    	 width: 100%; 
    height: 120px; 
	border:white 3px solid;  
	border-radius: 20px;
	box-shadow:  3px 3px 7px grey;
    background-color:#F2F2F2;
    

 
} 

.colonne{
	margin:0px; 
	display:flex; 
	flex-direction:column; 
	}


.ticontener{
    border-radius: 20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    vertical-align: top;

    width: 65%; 
    justify-content: space-evenly;
    
    
       
  }

.ticontener2 {
    background-color:#F2F2F2;
    border-radius: 20px;    
    display:block;
    justify-content: center; 
    float:right; 
    	padding: 20px; 
      width: 30%;  
}

.ticontener3  {
    display:flex;
    flex-wrap:wrap; 
    border-radius: 20px;
   justify-content:center;  

    }   

.caption {
    bottom:0%;
	box-sizing:border-box; 
    background-color:white; 
    width:100%; 
    height:30%; 
	font-size:13px; 
     border-radius: 0px 0px 20px 20px;
    position:absolute;
    text-align:center;
    color:black; 
}


.caption2 {   
    position:absolute;
    border-radius: 0px 20px 20px 0px; 
    height:100%; 
    width:60%; 
    right: 0; 
	    padding-top:2px; 
    background-color:white;
    text-align: center;
     color:black; 
    font-size:13px; 
    margin:0; 
}

.gdeimg {
    height: 90%;
    width:100%; 
     box-sizing:border-box; 
	 border-radius:20px 20px  0px 0px; 
	 position:absolute; 
	 top:0;      
}

.moyimg {
    height:90%;
	width:100%; 
	box-sizing:border-box; 
	border-radius:20px 20px  0px 0px; 
	top:0px; 
	position:absolute; 
}

.pteimg {
    height:90%; 
    width:100%;
	 box-sizing:border-box; 
	 border-radius:20px 20px  0px 0px; 
	 position:absolute; 
	 top:0px;  
    
}

.col1 {
	position:relative;
	border-radius: 20px; 
    height: 450px;
    width:285px; 
	box-shadow: 3px 3px 7px grey; 
	margin:15px; 
	margin-top:0px;
	
}

.col2 {
    position:relative;
    border-radius: 20px; 
    box-shadow: 3px 3px 7px grey;
    height: 240px; 
	width:285px; 
	margin:15px; 	
	margin-bottom:15px; 
	margin-top: 0px; 
	 }

.col3 {
    position:relative;
    border-radius: 20px;  
	box-shadow:3px 3px 7px grey; 
    height: 180px; 
	width:285px;
	margin:15px; 
	margin-top:15px; 
	
}

.col4 {
	position:relative;
    border-radius: 20px;  
	box-shadow:3px 3px 7px grey; 
    height: 180px; 
	width:285px;
	margin:15px; 
	margin-top:0px; 
	}

.col5 { 
	position:relative;
    border-radius: 20px; 
    box-shadow: 3px 3px 7px grey;
    height: 240px; 
	width:285px; 
	margin:15px;
	margin-top:15px;  
	}


.col1 .caption3 /* gdeimg */ {
    position:absolute;   
    border-radius: 0px 0px 20px 20px; 
    height:60px; 
    width:100%; 
    bottom: 0px;
    background-color:white;
    text-align: center;    
	box-sizing:border-box; 
	padding:20px; 
	color:black;
}

.col2 .caption4 /* moyimg */{
    position:absolute;    
    border-radius: 0px 0px 20px 20px; 
   height:60px; 
    width:100%;
   bottom: 0px;
   box-sizing:border-box; 
    background-color:white;
    text-align: center;
    color:black;
	padding:20px; 
 
}

.col3 .caption5 /* pteimg */{
    border-radius: 0px 0px 20px 20px; 
	height:60px; 
	width:100%; 
	bottom: 0px; 
	position:absolute; 
	background-color:white;
	text-align: center;
	box-sizing:border-box; 
	padding:20px;
	color:black; 

}

.col4 .caption5 {
    border-radius: 0px 0px 20px 20px; 
	height:60px; 
	width:100%; 
	bottom: 0px; 
	position:absolute; 
	background-color:white;
	text-align: center;
	box-sizing:border-box; 
	padding:20px;
	color:black; 

}

.col5 .caption4 {
    position:absolute;    
    border-radius: 0px 0px 20px 20px; 
	height:60px; 
    width:100%;
	bottom: 0px;
	box-sizing:border-box; 
    background-color:white;
    text-align: center;
	color:black;
	padding:20px; 
	}
	
	.maxi {
	margin:0px; 
	margin-left:7%; 
	margin-right:7%;
	padding: 10px 80px 10px; 

 }

/* pied de page*/ 

footer {
   display:flex; 
   /*flex-direction:row; */
   flex-wrap:wrap; 
	margin:0; 
	font-size:100%; 
	vertical-align:baseline;    
    background-color: #F2F2F2;
	color:black; 
    
}

.about, .rent, .help {
   background-color: #F2F2F2; 
   color:black; 
    display:flex; 
    flex-wrap:wrap;
    justify-content:center;
    flex-direction:column; 
    flex-grow:1;
    margin-top:0px;
    margin-left: 50px; 
    text-align:left;
	list-style-type:none;
}


h5 {
	color:black; 
    font-style: normal;

   
	}

.about a, .rent a, .help a { 
color:black; 
}


ul
{

	list-style-type:none; 
   
	}

    li
    {  font-size: 15px; }

   