@media screen and (min-width:999px) and (max-width:1024px)
{}
@media screen and (min-width:768px) and (max-width:998px)  /*tablettes*/
{ 


    body
    {   
     
        display:block;
        flex-flow:column; 
        flex-direction:column;  
    margin:0px;  
    
    }
    
    header
{flex-direction:column; 

}
    #marge
    {
        margin-left: auto; 
        margin-right: auto; 
    display:flex; 
    flex-wrap:wrap; 
    
   
    }
    
    .research
    {display:none; }
    
    .recherche  i
    {display:inline-block; }
    
    nav a
    {border-bottom:grey;
    border-top: none; 
    width:50%; 
}
        

    


    nav:hover
    {border-bottom:#0065FC;
    border-top:none;  }
    
    .topnav 
    {
    margin-left: 10%;  
    border:unset;
    margin: 20px; 
    margin-bottom:60px; 
    margin-top:60px; 
    width:358px;  
     } 
    
     h2
     {
    color:black; 
    font-size:20px; 
    width : 70%;
    
    margin-left:5%; 
    margin-right:2%; 
     }
    
     
    
     
    
    
    .organisation
    {display: flex; 
    flex-wrap:wrap; 
    flex-direction:row;
    margin-left: 7%;  }

    
    
    main
    { display:flex; 
        flex-wrap: wrap; 
    }


    .principal
    {display:flex; 

    }

    .location {flex-direction : column-reverse;}

    #hotels {width :100%;}

    .ticontener2
{width: 100%;}

.populaires{ width :70% ; 
    margin :auto;}

}
@media screen and (max-width:767px) /*mobiles */
{ 

*
{width:auto; }

 body
 
 {margin:0px; 
  
 
 }

 .research
{display:none; }



.logo 
{
top:5px; 
text-align:center; 

}



.location {flex-direction : column-reverse;}




.bouton, .info:before {   
    background:white;
    color:black;
    display:inline-block;
   flex-direction: row;
    flex-wrap: wrap;
    margin:5px;
    padding: 0px;
    text-align:center;
	
}


.organisation
{margin:0px; 
 list-style-type: none;
 Display:flex; 
 flex-wrap: wrap; }

.icone
{display:flex; 
flex-direction:row; }


.ticontener3
{margin:0px;}

.ticontener2
{width: 100%;}

.maxi
{padding:0px; 
margin:0px; 
justify-content:center;
margin-left:0%; 
margin-right:0%; 
}




.research
{display:none; }






span .reve 
{display:flex; 
flex-direction: column;}


.register 
{position: absolute;
text-align: inherit;
right: 50px; 
}


footer
{
    display:flex;
flex-direction:column; 	
    justify-content: flex-start;
    margin-left :0px;
    margin:0px; 
    background-color: #F2F2F2;
}

header
{flex-direction:column; }






    nav a
{border-bottom:2px solid grey;
border-top: none; 
width:50%; 

    }

    nav a:hover
    {border-bottom:2px solid #0065FC; 
    border-top:none; }
#research 
{
    display : none;}


.recherche i
{display:block; 

 }

 .recherche, .search button 
 {width: 50px;}


 #hotels {width :100%;}




         #remplissage
         {display:flex;
           flex-direction:column;
              align-items:baseline;
         
       
        }
.organisation
{flex-wrap: wrap; }
 nav
 {margin:0; }

}